# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Database files (caso você use SQLite local)
*.db
*.sqlite3

# Logs and temporary files
*.log
*.tmp
*.bak

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
